.login {
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
}

.login__form-input {
    font-size: 30px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}
.login__form-input:focus {
    outline: none;
}

.login__form-btns {
    padding: 20px 0;
}

.login__form-btn {
    padding: 10px;
    font-size: 25px;
    border-radius: 10px;

    background-color: greenyellow;
}
.login__form-btn:active{
    background-color: green;
}

.login__error {
    width: 96%;
    border: 1px solid red;
    border-radius: 10px;
    padding: 10px;

    font-size: 20px;
    color: red;
}