.login {
    width: 90%;
    padding: 2%;
    border: 3px solid black;
    border-radius: 10px;

    box-sizing: border-box;

    font-size: 1.2em;
}

.logo-img {
    width: 60%;
}

.login__title::after {
    content: "";
    display: block;

    width: 40%;
    height: 3px;
    background-color: black;
    margin: 5px auto 0;
}

.login-form {
    padding: 10px 0;
}

.login-form__input {
    font-size: 0.8em;
    margin-bottom: 10px;

    border: 2px solid black;
    border-radius: 10px;

    padding: 3%;
}
.login-form__input:focus {
    outline: 2px solid greenyellow;
    border-radius: 10px;
    border: none;
}

.login-form__btn {
    padding: 6px;
    
    font-size: 0.8em;
    border: 1px solid black;
    border-radius: 10px;

    background-color: greenyellow;
}
.login-form__btn:active {
    background-color: green;
}

.login__link-registr {
    font-size: 0.7em;
    color: black;
}

.login__error {
    margin: 10px 0;

    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 10px;

    padding: 2%;
    font-size: 0.6em;
    color: red;
}