@font-face {
    font-family: 'Noto';
    src: url('../fonts/noto.woff');
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;

    font-family: 'Noto';
}

.mrb {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}