.registration {
    width: var(--modal-window-size);
    padding: 2%;
    border: 3px solid black;
    border-radius: 10px;
    box-sizing: border-box;

    background-color: white;

    font-size: 1.2em;
}

.registration__form {
    width: 90%;
}

.registration__form-input-box {
    width: 100%;
}

.registration__form span {
    display: block;
    font-size: 0.7em;
}

.registration__form-input {
    width: 93%;
    font-size: 0.8em;
    margin-bottom: 10px;

    border: 2px solid black;
    border-radius: 10px;

    background-color: rgb(230, 228, 228);
    padding: 3%;
}
.registration__form-input:focus {
    outline: 2px solid greenyellow;
    border-radius: 10px;
    border: none;
}

.registation__form-btn {
    padding: 6px;
    
    font-size: 0.8em;
    border: 1px solid black;
    border-radius: 10px;

    background-color: greenyellow;
    opacity: none;
}
.registation__form-btn:active {
    background-color: green;
}

.registration__error {
    margin: 10px 0;

    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 10px;

    padding: 2%;
    font-size: 0.8em;
    color: red;
}